S3method(predict,HierFabs)
S3method(print,HierFabs)
exportPattern("^[[:alpha:]]+")
export(HierFabs)
import('Matrix') 
importFrom(methods,as)
importFrom(Matrix,sparseMatrix)
importFrom(Matrix,colSums)
useDynLib(HierFabs, .registration = TRUE)
